@model RamsgateDigitalCinema.ViewModels.Home.CollectionsViewModel
@using RamsgateDigitalCinema.Models.Entities
@using RamsgateDigitalCinema.Data

@{
    ViewData["Title"] = "Shorts";

    ApplicationDbContext db = ViewBag.Database;
}

<div class="text-center">
    <h3 class="" style="margin-bottom: 20px;">SHORT COLLECTIONS</h3>
</div>

<div class="container">
    @foreach (var collection in Model.Collections)
    {
        string subTitle = "";
        bool showShortFilm = false;

        string goGold = "";
        string backGold = "";

        string filmBack = " background-color: black; ";
        string filmColor = " color: #c59d28; ";

        if (collection.Collection.FilmCollectionID == 8)
        {
            continue;
        }

        if (collection.Collection.FilmCollectionID == 15)
        {
            subTitle = "ANCHOR AWARDS COMPETITIONS";
            showShortFilm = true;
        }
        else if (collection.Collection.FilmCollectionID == 1)
        {
            subTitle = "WEB SERIES / TV PILOTS";
            filmBack = " background-color: white; ";
        }
        else if (collection.Collection.FilmCollectionID == 19)
        {
            goGold = " color: #c59d28; ";
            backGold = " background-color: white; ";
        }
        else if (collection.Collection.FilmCollectionID == 18)
        {
            goGold = " color: #c59d28; ";
            backGold = " background-color: black; ";
        }
        else if (collection.Collection.FilmCollectionID == 9)
        {
            subTitle = "ON SCREEN COLLECION";
        }
        else if (collection.Collection.FilmCollectionID == 3)
        {
            subTitle = "YOUTH PROGRAMME";
        }

        if (subTitle != "")
        {
            <div class="even row" style="padding: 4px; @filmBack @filmColor padding: 5px;">
                <div class="col-md-12">
                    <h3>@subTitle.ToUpper()</h3>
                </div>
            </div>

            if (showShortFilm)
            {
                <div class="even row" style="padding: 4px; background-color: white; color: #c59d28; padding: 5px;">
                    <div class="col-md-12">
                        <h4>SHORT FILMS</h4>
                    </div>
                </div>
            }
        }

        <div class="even row" style="padding: 4px;  @(goGold) @(backGold)">
            <div class="col-md-12">
                @if (ViewBag.LoggedIn)
                {
                    @if (((List<MemberFilm>)ViewBag.BookedFilms).Where(bf => bf.FilmID == collection.Collection.FilmID).Any())
                    {
                        Film film = db.Films.Find(collection.Collection.FilmID);

                        if (film.Showing < (DateTime)ViewBag.CurrentTime)
                        {
                            <a style="float: right;" class="btn btn-danger pull-right" href="/Members/ShowFilm/@film.FilmID">Watch Now</a>
                        }
                        else
                        {
                            <span style="float: right;" class="btn btn-outline-danger pull-right">Collection Booked</span>
                        }
                    }
                    else
                    {
                        <div class="pull-right" style="float: right; margin-bottom: 10px; margin-top: 10px;">
                            <button class="btn btn-success" onclick="bookFilm(@collection.Collection.FilmID)">Book Ticket</button>
                        </div>
                    }
                }
                else
                {
                    <div class="pull-right" style="float: right; margin-bottom: 10px; margin-top: 10px;">
                        <a href="/Identity/Account/Login" class="btn btn-success">Login To Book</a>
                    </div>
                }
                <h3>@collection.Collection.Name</h3>
            </div>
        </div>
        @foreach (var film in collection.Films)
        {
            <div class="odd row" style="margin: 4px;">
                <!--<div class="col-md-2">
                    @if(film.FilmDetails == null)
                    {
                        <div style="text-align: center;"></div>
                    }
                    else
                    {
                        <img class="poster" data-poster="@film.FilmDetails.PosterUrl" style="width: 200px; width: 100%;" src="" />
                    }
                </div>-->
                <div class="col-md-7">
                    @if (film.FilmDetails == null)
                    {
                        <h4>@film.Title.ToUpper()</h4>
                        <!--<div style="text-align: center;"></div>-->
                    }
                    else
                    {
                        <h4>@film.Title.ToUpper()</h4>
                        <!--<div>@film.FilmDetails.Synopsis</div>-->
                    }
                </div>
                <div class="col-md-5">
                    @if (film.FilmDetails == null)
                    {
                        <div style="text-align: center;"></div>
                    }
                    else
                    {
                        <div style="float: right;">
                            <button class="btn btn-primary" onclick="viewDetails(@film.FilmID)">View Details</button>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".poster").each(function (pos, item) {
                var url = "https://www.ramsgatedigitalcinema.co.uk";
                var poster = $(item).data("poster");

                var finalUrl = url + poster;

                $(item).attr('src', finalUrl);
            });
        });

        function bookFilm(id) {
            setTimeout(window.location.href = '/Members/BookFilm/' + id, 500);
        }

        function viewDetails(id) {
            setTimeout(window.location.href = '/Home/FilmDetails/?id=' + id + '&fromCollection=true', 500);
        }
    </script>
}
