<div class="text-center">
    <h1 class="display-4">Short Collections</h1>
</div>

<div class="container">
    @foreach(var collection in Model.Collections)
    {
        <div class="even row" style="padding: 4px;">
            <div class="col-md-12">
                <h2>@collection.Collection.Name</h2>
                    @if(ViewBag.LoggedIn)
                        {
                            <div style="float: right;">
                                <button class="btn btn-success" onclick="bookFilm(@collection.Collection.FilmID)">Book Now</button>
                            </div>
                        }
                        else
                        {
                            <div style="float: right;">
                                <a href="/Identity/Account/Login" class="btn btn-success">Login To Book</a>
                            </div>
                        }
            </div>
        </div>
        @foreach(var film in collection.Films)
        {
            <div class="odd row" style="margin: 4px;">
                <div class="col-md-2">
                    @if(film.FilmDetails == null)
                    {
                        <div style="text-align: center;">No Details</div>
                    }
                    else
                    {
                        <img class="poster" data-poster="@film.FilmDetails.PosterUrl" style="width: 200px; width: 100%;" src="" />
                    }
                </div>
                <div class="col-md-8">
                    @if(film.FilmDetails == null)
                    {
                        <h4>@film.Title</h4>
                        <div style="text-align: center;">No Details</div>
                    }
                    else
                    {
                        <h4>@film.Title</h4>
                        <div>@film.FilmDetails.Synopsis</div>
                    }
                </div>
                <div class="col-md-2">
                    @if(film.FilmDetails == null)
                    {
                        <div style="text-align: center;">No Details</div>
                    }
                    else
                    {
                        <div style="float: right;">
                            <button class="btn btn-success" onclick="viewDetails(@film.FilmID)">View Details</button>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $(".poster").each(function(pos, item){
                var url = "https://www.ramsgatedigitalcinema.co.uk";
                var poster = $(item).data("poster");

                var finalUrl = url + poster;

                $(item).attr('src', finalUrl);
            });
        });
        
        function bookFilm(id)
        {
            setTimeout(window.location.href = '/Members/BookFilm/' + id, 500);
        }

        function viewDetails(id)
        {
            setTimeout(window.location.href = '/Home/FilmDetails/?id=' + id + '&fromCollection=true', 500);
        }
    </script>
}
