@model RamsgateDigitalCinema.ViewModels.FilmDetailsViewModel
@using RamsgateDigitalCinema.Extensions

@{
    ViewData["Title"] = "Film Details";
}

@section CSS {
    <style>
        .film-title {
            font-size: 20px;
            font-weight: bolder;
        }

        .directed-by {
            font-style: italic;
        }

        .synopsis {
            
        }

        .still {
            width: 100%;
        }
    </style>
}

<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        
        @{
            string stillwidth = "7";

            if (Model.FilmDetails.StillUrls.Count() == 0)
            {
                stillwidth = "12";
            }
        }

        @if (Model.FilmDetails.StillUrls.Count() > 0)
        {
            <div class="col-md-5">
                @foreach (var still in Model.FilmDetails.StillUrls)
                {
                    <img class="still" src="@still.Url" style="margin: 15px;" /><br/>
                }
        </div>
        }

        <div class="col-md-@(stillwidth)">
            <div class="film-title">@Model.Film.Title</div>
            <div>@Model.FilmDetails.CountryOfOrigin | @Model.FilmDetails.FilmLength.ToString() mins | @Model.Film.Rating.GetDescription()</div>
            <div class="directed-by">directed by @Model.Film.Director</div> <br /><br />
            <div class="synopsis">@Model.FilmDetails.Synopsis</div>

            @if (!string.IsNullOrEmpty(Model.FilmDetails.Cast))
            {
                <br /><div>with @Model.FilmDetails.Cast</div><br /><br /><br />
            }
            else
            {
                <br /><br /><br />
            }

            @if (ViewBag.Booked == false && Model.Film.FilmCollectionID == null)
            {
                <button class="btn btn-danger pull-right" style="width: 120px; float: right;" onclick="buyTicket()">Book Ticket</button>
            }
            else if(Model.Film.FilmCollectionID == null)
            {
                <div class="pull-right" style="text-align: center; font-size: 25px; font-weight: bolder; color: red;">You Have Booked This Film</div>
            }
            <div style="font-weight: bolder;">@Model.Film.Showing.ToString("dddd dd MMMM - HH:mm") &nbsp; @Model.FilmDetails.Screen.GetDescription()</div>
            <br />
        </div>
    </div>
        
    
    <div class="row bg-light" style="padding: 20px;">
        @if (Model.FilmDetails.TrailerUrl != null)
        {
            <div class="col-md-12 row">
                <div class=col-md-7>
                <div style="font-size: 25px; font-weight: bolder;">TRAILER</div>
                @if (Model.FilmDetails.TrailerUrl != null)
                {
                    <text>
                        <video id="trailer" style="width: 100%;" autoplay controls></video>
                    </text>
                }
                </div>
        </div>
        }

        @if (Model.FilmDetails.DirectorPicUrl != null || !string.IsNullOrWhiteSpace(Model.FilmDetails.DirectorBio))
        {
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <div style="font-size: 25px; font-weight: bolder;">DIRECTOR</div>
                    @if (Model.FilmDetails.DirectorPicUrl != null)
                    {
                        <img id="director" src="" style="width: 100%;">
                }
            </div>
            <div class="col-md-6">
                <br/>
                <div class="synopsis">@Model.FilmDetails.DirectorBio</div>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            //$('#poster').attr('src', "https://www.ramsgatedigitalcinema.co.uk" + '@Model.FilmDetails?.PosterUrl');

            $('.still').each(function (pos, item){
                var url = $(item).attr('src');

                $(item).attr('src', "https://www.ramsgatedigitalcinema.co.uk" + url);
            });

            @if(Model.FilmDetails.DirectorPicUrl != null)
            {
                <text>
                $('#director').attr('src', "https://www.ramsgatedigitalcinema.co.uk" + '@Model.FilmDetails?.DirectorPicUrl');
                </text>
            }

            @if(Model.FilmDetails.TrailerUrl != null)
            {
                <text>
                $('#trailer').attr('src', "https://www.ramsgatedigitalcinema.co.uk" + '@Model.FilmDetails?.TrailerUrl');
                </text>
            }
        });

        function buyTicket()
        {
            setTimeout(function () { window.location.href = "/Members/BookTicket/@Model.Film.FilmID"; }, 500);
        }
    </script>
}