@model RamsgateDigitalCinema.ViewModels.Home.LobbyViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section CSS
{
    <style>
    @@font-face {
        font-family: 'budmojiggler';
        src: url('~/fonts/budmojiggler.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @@media screen and (max-width: 900px) {
        .background {
            background-color: black;
            background-image: url('./img/Lobby.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .small-office {
            height: 60px;
        }

        .logos {
            display: none;
            height: 50px;
            width: 35px;
        }

        .title-text {
            display: none;
            height: 50px;
            width: 100px;
        }

        .dominic {
            height: 450px;
            width: 100%;
        }
    }

    @@media screen and (min-width: 900px) {
        .background {
            background-image: url('./img/Lobby.png');
            height: 950px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .main-container {
            margin-top: -30px;
        }
    }

    @@media screen and (max-width: 900px) {
        
    }

    .background-text {
        color: white;
        font-weight: bolder;
        font-size: 18px;
    }

    .logo-placement {
        text-align: center;
        vertical-align: middle;
        padding: 15px;
    }

    .ramsgate-title {
        font-size: 50px;
        text-align: center;
        color: white;
        font-family: budmojiggler;
    }

    .digital-title {
        font-size: 50px;
        text-align: center;
        color: white;
    }

    .peach {
        color: #f8e8c8;
    }
</style>
}

<div class="background container">
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
            <div style="text-align: center;">
                <img style="width: 100%;" class="logos" src="~/RDC_logo.png" />
            </div>
        </div> 
        <div class="col-md-6">
            <div style="text-align: center;">
                <img style="width: 100%;" class="title-text" src="~/img/RDC_text.png" />
            </div>
        </div> 
        <div class="col-md-3">
            <div style="text-align: center;">
                <img style="width: 100%;" class="logos" src="~/mstile-150x150.png" />
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img class="dominic" style="padding: 25px;" src="~/img/Dominic.png" />
        </div>
        <div class="col-sm-12 col-md-8 background-text">
            <div style="padding: 20px;">
                Circumstances one again, brought us to celebrate our fifth Anniversary virtually on Ramsgate Digital Cinema.  But we're bringing you more films, more talks and workshops and the first FIGHT BACK Awards for Veterans.
                <br /><br/>
                This year, the Ramsgate Internation Film &amp; TV Festival is dedicated to one man, the wonderful artist, singer and sculptor, who designed our covetted Anchor statuette, Dominic Grant, who passed away last November.  From now on, the solid Bronze Anchor for the 
                Best Feature Film will be known as the Dominic Grant Award.  There will be a special dedication at the Opening Gala night, with all profits from the evening to be given to the campaign to raise funds for the casting and installation of George IV status, sculpted by 
                Dominic Grant at Ramsgate only Royal Harbour in the whole of the UK.
                <br /><br/>
                We would like to thank particularly the Ramsgate Town Council for their constant support over the years.<br/><br/>
                <div style="text-align: center;">HAVE A GREAT FESTIVAL!</div>
            </div>
        </div>
    </div>
</div>
<div class="container main-container" style="background-color: black; width: 100%; padding: 20px;">
    <div class="peach" style="font-size: 30px; font-weight: bolder; text-align: center">Showing now/next</div>
    <div class="row">
        <div class="col-md-6">
            <div style="text-align: center;">
                <img src="~/img/Screen1.png" />
            </div>
            @if (Model.Films[0] != null)
            {
                <div style="color: white; font-size: 25px; font-weight: bold;">@Model.Films[0].Date - @Model.Films[0].Time</div>
                <div>
                    <img class="poster" src="@Model.Films[0].PosterUrl" style="width: 100%;" />
                </div>
                <div style="color: white; font-size: 25px; font-weight: bold; padding-bottom: 30px;">@Model.Films[0].FilmTitle [@Model.Films[0].Rating]</div>
            }
            else
            {
                <div style="width: 100%; height: 250px;">
                    <div style="text-align: center; color: white; font-size: 25px; font-weight: bold;">No More Films Showing</div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div style="text-align: center;">
                <img src="~/img/Screen2.png" />
            </div>
            @if (Model.Films[1] != null)
            {
                <div style="color: white; font-size: 25px; font-weight: bold;">@Model.Films[1].Date - @Model.Films[1].Time</div>
                <div>
                    <img class="poster" src="@Model.Films[1].PosterUrl" style="width: 100%;" />
                </div>
                <div style="color: white; font-size: 25px; font-weight: bold; padding-bottom: 30px;">@Model.Films[1].FilmTitle [@Model.Films[1].Rating]</div>
            }
            else
            {
                <div style="width: 100%; height: 250px;">
                    <div style="text-align: center; color: white; font-size: 25px; font-weight: bold;">No More Films Showing</div>
                </div>
            }
        </div>
    </div>
    <div class="row container">
        <div class="col-md-6">
            <div style="text-align: center;">
                <img src="~/img/Screen3.png" />
            </div>
            @if (Model.Films[2] != null)
            {
                <div style="color: white; font-size: 25px; font-weight: bold;">@Model.Films[2].Date - @Model.Films[2].Time</div>
                <div>
                    <img class="poster" src="@Model.Films[2].PosterUrl" style="width: 100%;" />
                </div>
                <div style="color: white; font-size: 25px; font-weight: bold; padding-bottom: 30px;">@Model.Films[2].FilmTitle [@Model.Films[2].Rating]</div>
            }
            else
            {
                <div style="width: 100%; height: 250px;">
                    <div style="text-align: center; color: white; font-size: 25px; font-weight: bold;">No More Films Showing</div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div style="text-align: center;">
                <img src="~/img/Screen4.png" />
            </div>
            @if (Model.Films[3] != null)
            {
                <div style="color: white; font-size: 25px; font-weight: bold;">@Model.Films[3].Date - @Model.Films[3].Time</div>
                <div>
                    <img class="poster" src="@Model.Films[3].PosterUrl" style="width: 100%;" />
                </div>
                <div style="color: white; font-size: 25px; font-weight: bold; padding-bottom: 30px;">@Model.Films[3].FilmTitle [@Model.Films[3].Rating]</div>
            }
            else
            {
                <div style="width: 100%; height: 250px;">
                    <div style="text-align: center; color: white; font-size: 25px; font-weight: bold;">No More Films Showing</div>
                </div>
            }
        </div>
    </div>

    
</div>

<div class="container">
    <div class="row" style="background-color: white; padding: 20px; border: 1px solid black;">
        <div class="col-md-12">
            <div style="text-align: center;">
                <img class="small-office" src="/img/Box_office.png" style="width: 100%'" />
            </div>
        </div>
    </div>
</div>
<!--
Your Date and Time: &nbsp;@(ViewBag.DateTime.ToString())<br /><br />

You are in: &nbsp;@(ViewBag.Country.Name)
-->
<div id="intro" class="modal" tabindex="-1" role="dialog">
  <div id="mainIntro" class="modal-dialog modal-full" role="document">
    <div class="intro modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title text-light">Ramsgate International Film and Television Festival 2021</h5>
      </div>-->
      <div class="intro modal-body text-center">
        <img class="introimage" src="~/img/Festival_design.jpg" />
        <partial name="_Partners" />
      </div>
      <div class="modal-footer text-center justify-content-center" style="text-align: center;">
        <button class="btn btn-success text-center justify-content-center" style="text-align: center;" onclick="dismissModal()">ENTER</button>
      </div>
    </div>
  </div>
</div>



@section Scripts
{
    @if(ViewBag.ShowIntro == true)
    {
        <text>
            <script>
                $(document).ready(function (){

                    $('#intro').modal();
                    $('#mainIntro').css("height", window.innerHeight);
                    $('#mainIntro').css("width", window.innerWidth);
                });
            </script>
        </text>            
    }

    <script>
        $(document).ready(function setPoster(poster)
        {
            $('.poster').each(function (pos, item){
                var url = $(item).attr('src');

                $(item).attr('src', "https://www.ramsgatedigitalcinema.co.uk" + url);
            });
        });

        function dismissModal()
        {
            $('#intro').modal('hide');
        }

        $(document).ready(function(){
            alert("PLEASE NOTE: This site is under construction and information may be inaccurate.  Also, please DONT BOOK ANY FILMS as the booking may nor be valid for the festival.");
        });
    </script>
}
